[Unit]
Description=Dewy Binary Deployment Service ({{ app_name }})
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory={{ app_binary_dest_dir }}
EnvironmentFile=/etc/dewy-binary.env
ExecStart=/usr/local/bin/dewy server --interval 5 --log-level info --registry 's3://{{ s3_region }}/{{ s3_bucket }}/{{ s3_prefix | default("sample-app") }}?endpoint={{ s3_endpoint }}&artifact={{ app_name }}_linux_{{ app_arch }}.tar.gz' --port {{ binary_port }} -- {{ app_binary_dest_dir }}/current/{{ app_name }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
